body {
  font-family: Raleway, sans-serif;
  font-size: 16px;
}

h1 {
  line-height: 1;
  margin-bottom: 0.5rem;
}

.hidden {
  display: none !important;
}

@media screen and (max-width: 420px) {
  .container {
    margin: 2rem !important;
  }

  .purchase__price_input-label {
    margin-top: 1rem;
  }
}

.container {
  margin: 2rem auto;
  max-width: 540px;
}

.purchase {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
}

.purchase__name {
  margin-right: 2rem;
}

.input {
  padding: 0 1rem;
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 200px;
  height: 45px;
}

.settings {
  margin-top: 2rem;
}

.settings__range-label,
.settings__frequency-label {
  display: flex;
  justify-content: space-between;
}

.settings__range-slider,
.settings__frequency-slider {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: #00e600;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.settings__range-slider::-webkit-slider-thumb,
.settings__frequency-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #009900;
  cursor: grab;
  width: 20px;
  height: 20px;
  transition: 0.3s;
}

.settings__range-slider::-webkit-slider-thumb:hover,
.settings__frequency-slider::-webkit-slider-thumb:hover {
  -webkit-appearance: none;
  border-radius: 50%;
  background: #009900;
  cursor: grab;
  width: 25px;
  height: 25px;
}

.settings__seasons {
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
}

.settings__seasons_btn,
.settings__sale_btn {
  background: #e6ffe6;
  border: 1px solid #00e600;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  color: #000;
}

.settings__seasons_btn-disabled {
  background: lightgray !important;
  border: 1px solid lightgray;
  text-decoration: line-through;
}

.settings__frequency-label {
  margin-top: 2rem;
}

.settings__sale_box {
  margin-right: 0.8rem;
  zoom: 1.3;
}

.settings__sale_check {
  display: flex;
  align-items: flex-end;
  margin-top: 2rem;
}

.settings__sale_options {
  margin-top: 1rem;
  display: flex;
}

.sale-options {
  display: inline-flex;
  align-items: flex-end;
}

.sale-price {
  width: 30px;
  text-align: center;
  line-height: 0;
  border: none;
  background: #e6ffe6;
  padding: 0;
}

.get-result {
  margin-top: 2rem;
  background: #009900;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-weight: bold;
}

.result {
  margin-top: 2rem;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  padding: 1.5rem 1rem 2rem 1rem;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.result__desc {
  margin-top: 1rem;
}
